/* Styles for the EmailOTPVerification component */
.otpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .otpForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
 .otpForm h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .inputGroup input[type="email"],
  .inputGroup input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .successMessage {
    color: green;
    text-align: center;
    margin-bottom: 10px;
  }
  